.todo-list {
  margin-top: 20px;
}

.todo-item {
  background: linear-gradient(to top right,#FFB6C1, #FFD700);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 10px 120px 10px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  min-width: 300px;
  cursor: pointer;
}

.todo-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todo-item.dragging {
  background: #ffe9ec;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.drag-handle {
  cursor: move;
  margin-right: 10px;
}



.todo-item .completed {
  color: #A9A9A9; 
  text-decoration: line-through
}


.todo-text {
  margin: 0;
  font-size: 16px;
  color:#283593;
}

.todo-text .completed {
  text-decoration: line-through; 
  color: #999;
}

.todo-checkbox {
  margin-right: 10px;
  cursor: pointer;
  accent-color: #4caf50;
}

.no-todos-message {
  text-align: center;
  color: #999;
  font-style: italic;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
}


.todo-edit-icon,
.todo-delete-icon {
  cursor: pointer;
  color: #4caf50;
  font-size: 20px;
  transition: color 0.3s ease;
}

.todo-edit-icon:hover, 
.todo-delete-icon:hover {
  color: #388e3c;
}

.todo-edit-icon[title]:hover::after,
.todo-delete-icon[title]:hover::after
 {
  content: attr(title);
  position: absolute;
  background: #333;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 4px;
  bottom: 30px;
  left: -50%;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.todo-grip-icon {
  font-size: 30px;
  color: #A9A9A9;
}

.todo-grip-icon:hover{
  color: #E5E4E2;
}

.react-contextmenu {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #FDEBD0;
  min-width: 200px;
}

/* Custom styles for MenuItem */
.custom-menu-item {
  padding: 10px;
  font-size: 16px;
  color: #333;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

/* Change background on hover */
.custom-menu-item:hover {
  background-color: #f0f0f0;
}

/* Optionally, you can add styles for MenuItem when it's clicked */
.custom-menu-item:active {
  background-color: #d1d1d1;
}

/* Style the entire ContextMenu container */
.react-contextmenu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.react-contextmenu-item {
  font-family: Arial, sans-serif;
}

/* Additional hover styles for the whole context menu if needed */
.react-contextmenu-item:hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
/* Fade In Animation for Todo Items */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
 

  .todo-item {
    font-size: 14px;
    
  }
}

@media (max-width: 800px) {
  

  .add-todo {
    flex-direction: column;
    align-items: center;
  }

  .add-todo-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .todo-item {
    font-size: 15px;
  }
}

@media (max-width: 600px) {


  h1 {
    font-size: 1.5rem;
  }

  .todo-item {
    font-size: 14px;
    padding: 8px;
    min-width: 170px;
  }

  .add-todo {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .add-todo-input {
    width: 80%;
    margin-bottom: 10px;
  }

  .add-todo-btn {
    width: 100%;
    padding: 12px;
  }

  .todo-list {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .todo-item {
    font-size: 12px;
    padding: 6px;
  }

  .add-todo-btn {
    padding: 10px;
  }

  .todo-text {
    font-size: 14px;
  }

  .add-todo-input {
    font-size: 14px;
  }
}